<div class="patch-notes">
  <h1>StarcallerBSUB.com Patch Notes</h1>
  <div id="patch-one">
    <div class="version-number">0.1.0</div>
    4/9/2025 - Site creation! Created Navbar, four component pages, and this
    patch note page.
  </div>
  <br />
  <div id="patch-two">
    <div class="version-number">0.2.0</div>
    4/10/2025 - DJ component now has a background, navbar works for all.
  </div>
  <br />
  <div id="patch-three">
    <div class="version-number">0.2.1</div>
    4/10/2025 - Photography component scrolls, has images, and animated scroll hinter.
  </div>
  <br />
  <div id="patch-four">
    <div class="version-number">0.2.2</div>
    4/10/2025 - Labs component has an image, coming soon text, and is no longer disabled.
  </div>
  <br />
  <div id="patch-five">
    <div class="version-number">0.2.3</div>
    4/10/2025 - Home component now also has and image and coming soon text.
  </div>
  <br />
</div>
