<div class="patch-notes">
  <h1>StarcallerBSUB.com Patch Notes</h1>
  <div id="patch-one">
    <div class="version-number">0.1.0</div>
    4/9/2025 - Site creation! Created Navbar, four component pages, and this
    patch note page.
  </div>
  <br />
  <div id="patch-two">
    <div class="version-number">0.2.0</div>
    4/10/2025 - DJ component now has a background, navbar works for all.
  </div>
  <br />
  <div id="patch-three">
    <div class="version-number">0.2.1</div>
    4/10/2025 - Photography component scrolls, has images, and animated scroll hinter.
  </div>
  <br />
  <div id="patch-four">
    <div class="version-number">0.2.2</div>
    4/10/2025 - Labs component has an image, coming soon text, and is no longer disabled.
  </div>
  <br />
  <div id="patch-five">
    <div class="version-number">0.2.3</div>
    4/10/2025 - Home component now also has and image and coming soon text.
  </div>
  <br />
  <div id="patch-six">
    <div class="version-number">0.2.4</div>
    4/10/2025 - DJ component form template implemented, text color corrected from browser add-on inversion. Updated esbuild for vuln fix.
  </div>
  <br />
  <div id="patch-seven">
    <div class="version-number">0.2.5</div>
    4/12/2025 - Update build parameters to extend style sheet budget. Site is live at starcallerbsub.com.
  </div>
  <br />
  <div id="patch-eight">
    <div class="version-number">0.3.0</div>
    4/16/2025 - Update DJ component form styling, hookup form data with service.
  </div>
  <br />
  <div id="patch-nine">
    <div class="version-number">0.4.0</div>
    4/17/2025 - Update DJ component for mobile. DJ booking form posts. DJ after booking landing page implemented. 'Required' validation on DJ form added.
  </div>
  <br />
  <div id="patch-ten">
    <div class="version-number">0.4.1</div>
    4/17/2025 - Update Photography component and navbar for mobile. App version now uses version in package.
  </div>
  <br />
  <div id="patch-eleven">
    <div class="version-number">0.4.2</div>
    4/17/2025 - Update Home and Labs components for mobile. Finishing touches on mobile navbar. Feels like MVP. Deploying.
  </div>
  <br />
</div>
