<div class="patch-notes">
  <h1 id="patch-notes-header">StarcallerBSUB.com Patch Notes</h1>
  <div id="patch-one">
    <div class="version-number">0.1.0 - 04/09/25</div>
    ♥ Site creation! Created Navbar, four component pages, and this patch note
    page.
  </div>
  <br />
  <div id="patch-two">
    <div class="version-number">0.2.0 - 04/10/25</div>
    ♥ DJ component now has a background, navbar works for all.
  </div>
  <br />
  <div id="patch-three">
    <div class="version-number">0.2.1 - 04/10/25</div>
    ♥ Photography component scrolls, has images, and animated scroll hinter.
  </div>
  <br />
  <div id="patch-four">
    <div class="version-number">0.2.2 - 04/10/25</div>
    ♥ Labs component has an image, coming soon text, and is no longer disabled.
  </div>
  <br />
  <div id="patch-five">
    <div class="version-number">0.2.3 - 04/10/25</div>
    ♥ Home component now also has and image and coming soon text.
  </div>
  <br />
  <div id="patch-six">
    <div class="version-number">0.2.4 - 04/10/25</div>
    ♥ DJ component form template implemented, text color corrected from browser
    add-on inversion. Updated esbuild for vuln fix.
  </div>
  <br />
  <div id="patch-seven">
    <div class="version-number">0.2.5 - 04/12/25</div>
    ♥ Update build parameters to extend style sheet budget. Site is live at
    starcallerbsub.com.
  </div>
  <br />
  <div id="patch-eight">
    <div class="version-number">0.3.0 - 04/16/25</div>
    ♥ Update DJ component form styling, hookup form data with service.
  </div>
  <br />
  <div id="patch-nine">
    <div class="version-number">0.4.0 - 04/17/25</div>
    ♥ Update DJ component for mobile. DJ booking form posts. DJ after booking
    landing page implemented. 'Required' validation on DJ form added.
  </div>
  <br />
  <div id="patch-ten">
    <div class="version-number">0.4.1 - 04/17/25</div>
    ♥ Update Photography component and navbar for mobile. App version now uses
    version in package.
  </div>
  <br />
  <div id="patch-eleven">
    <div class="version-number">0.4.2 - 04/17/25</div>
    ♥ Update Home and Labs components for mobile. Finishing touches on mobile
    navbar. Feels like MVP. Deploying.
  </div>
  <br />
  <div id="patch-twelve">
    <div class="version-number">0.4.3 - 04/17/25</div>
    ♥ DJ component scrolling, style sheet allowance upgrade.
  </div>
  <br />
  <div id="patch-thirteen">
    <div class="version-number">0.5.0 - 06/21/25</div>
    ♥ Fix mobile header width, erase mobile header, change navbar to dropdown
    for all views. Missing mobile navbar.
  </div>
  <br />
  <div id="patch-fourteen">
    <div class="version-number">0.5.1 - 06/21/25</div>
    ♥ Mobile navbar fix. Reformat all pages to accommodate new navbar.
  </div>
  <br />
  <div id="patch-fifteen">
    <div class="version-number">0.5.2 - 06/21/25</div>
    ♥ DJ booking form simplification and cleanup.
  </div>
  <br />
  <div id="patch-sixteen">
    <div class="version-number">0.5.3 - 06/24/25</div>
    ♥ Implemented snappy animation for sidebar. Fixed sidebar look for mobile.
  </div>
  <br />
  <div id="patch-seventeen">
    <div class="version-number">0.5.4 - 06/24/25</div>
    ♥ Fixed DJ component scrolling on mobile.
  </div>
  <br />
  <div id="patch-eighteen">
    <div class="version-number">0.5.5 - 06/24/25</div>
    ♥ Updated patch notes page styling.
  </div>
  <br />
  <span class="horizontal-rule"></span>
</div>
