@media only screen and (max-width: 600px) {
  .labs-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    padding: 10vh 0 0 0;
    background: black url(../../../assets/obv2.png) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .soon {
    font-family: "Carrois Gothic", "Franklin Gothic Medium", "Arial Narrow",
      sans-serif;
    font-size: 4em;
    color: rgb(146, 117, 158);
    display: block;
    position: absolute;
    top: 20vh;
    left: 10vw;
    height: fit-content;
    width: 80vw;
    background-color: rgba($color: #000000, $alpha: 0.3);
    text-align: center;
    z-index: 3;
  }
}

@media only screen and (min-width: 601px) {
  .labs-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    padding: 10vh 0 0 0;
    background: black url(../../../assets/obv2.png) no-repeat center center
      fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .soon {
    font-family: "Carrois Gothic", "Franklin Gothic Medium", "Arial Narrow",
      sans-serif;
    font-size: 4em;
    color: rgb(146, 117, 158);
    display: block;
    position: absolute;
    top: 40vh;
    left: 40vw;
    height: fit-content;
    width: fit-content;
    background-color: rgba($color: #000000, $alpha: 0.3);
    text-align: center;
    z-index: 3;
  }
}
