.dj-container {
  width: 100vw;
  height: 90vw;
  background: aliceblue url(../../../assets/z30_dj-bsub_equip.JPG) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
