@media only screen and (max-width: 600px) {
  .dj-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    padding: 10vh 0 0 0;
    background: rgb(44, 44, 44) url(../../../assets/z30_dj-bsub_equip.JPG) no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #booking-module {
    position: fixed;
    top: 12vh;
    left: 5vw;
    background-color: rgba($color: #000000, $alpha: 0.4);
    height: fit-content;
    width: 90vw;
  }

  #contact-info {
    font-size: 1.5em;
    margin: 2vh auto;
    width: 70%;
  }

  #contact-info a:hover {
    color: rgb(104, 0, 130);
  }

  #booking-request-form {
    margin: 2vh auto;
    width: 90%;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .booking {
    font-family: "Carrois Gothic", "Franklin Gothic Medium", "Arial Narrow",
      sans-serif;
    font-size: 1em;
    color: aliceblue;
    height: fit-content;
    width: fit-content;
    text-align: center;
  }

  input, select, textarea {
    margin-bottom: 9px;
    min-width: 50%;
  }

  #toggle_surprise {
    min-width: 10%;
  }

  #comment-textarea {
    width: 90%;
    height: fit-content;
  }
}

@media only screen and (min-width: 601px) {
  .dj-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    padding: 10vh 0 0 0;
    background: rgb(44, 44, 44) url(../../../assets/z30_dj-bsub_equip.JPG) no-repeat
      center center fixed;
    -webkit-background-size: 100vw 100vh;
    -moz-background-size: 100vw 100vh;
    -o-background-size: 100vw 100vh;
    background-size: 100vw 100vh;
  }

  #booking-module {
    position: fixed;
    top: 20vh;
    left: 25vw;
    background-color: rgba($color: #000000, $alpha: 0.4);
    height: 70vh;
    width: 50vw;
  }

  #contact-info {
    font-size: 2em;
    margin: 2vh auto;
    width: 70%;
  }

  #contact-info a:hover {
    color: rgb(104, 0, 130);
  }

  #booking-request-form {
    margin: 2vh auto;
    width: 90%;
    height: fit-content;
  }

  .booking {
    font-family: "Carrois Gothic", "Franklin Gothic Medium", "Arial Narrow",
      sans-serif;
    font-size: 1em;
    color: aliceblue;
    height: fit-content;
    width: fit-content;
    text-align: center;
  }

  .form-field-group {
    margin: 9px 0;
  }

  #comment-textarea {
    width: 100%;
    height: fit-content;
  }

  input, select, textarea {
    min-height: 18px;
    margin-bottom: 9px;
    min-width: 30%;
  }
}
