<div class="topnav">
  <div class="menu-nav-button" id="menu-button" (click)="toggleSidebar()">
    MENU
  </div>
  <!-- Mobile display -->
  @if (innerWidth < 601) { @if (sidebarToggled) {
  <ul class="menu-box" @mobileSidebarAnimation>
    <li>
      <a
        class="menu-item"
        routerLink="/"
        ariaCurrentWhenActive="page"
        (click)="toggleSidebar()"
        >Home</a
      >
    </li>
    <li>
      <a
        class="menu-item"
        routerLink="/dj"
        ariaCurrentWhenActive="page"
        (click)="toggleSidebar()"
        >DJ Booking</a
      >
    </li>
    <li>
      <a
        class="menu-item"
        routerLink="/photography"
        ariaCurrentWhenActive="page"
        (click)="toggleSidebar()"
        >Photography</a
      >
    </li>
    <li>
      <a
        class="menu-item"
        routerLink="/labs"
        ariaCurrentWhenActive="page"
        (click)="toggleSidebar()"
        >Labs</a
      >
    </li>
  </ul>
  <div class="click-container" (click)="toggleSidebar()"></div>
  <app-socials></app-socials>

  <!-- Desktop display -->
  } } @else { @if (sidebarToggled) {
  <ul class="menu-box" @sidebarAnimation>
    <li>
      <a
        class="menu-item"
        routerLink="/"
        ariaCurrentWhenActive="page"
        (click)="toggleSidebar()"
        >Home</a
      >
    </li>
    <li>
      <a
        class="menu-item"
        routerLink="/dj"
        ariaCurrentWhenActive="page"
        (click)="toggleSidebar()"
        >DJ Booking</a
      >
    </li>
    <li>
      <a
        class="menu-item"
        routerLink="/photography"
        ariaCurrentWhenActive="page"
        (click)="toggleSidebar()"
        >Photography</a
      >
    </li>
    <li>
      <a
        class="menu-item"
        routerLink="/labs"
        ariaCurrentWhenActive="page"
        (click)="toggleSidebar()"
        >Labs</a
      >
    </li>
  </ul>
  <div class="click-container" (click)="toggleSidebar()"></div>
  <app-socials></app-socials>
  } }
</div>

<router-outlet></router-outlet>

<a
  class="version-footer"
  routerLink="/version-history"
  ariaCurrentWhenActive="page"
>
  {{ version }}
</a>
