<div class="topnav">
          <div class="menu-nav-button" id="menu-button" (click)="toggleCheckbox()">MENU</div>

          @if (sidebarToggled) {
            <ul class="menu-box">
              <li><a class="menu-item" routerLink="/" ariaCurrentWhenActive="page" (click)='toggleCheckbox()'>Home</a></li>
              <li><a class="menu-item" routerLink="/dj" ariaCurrentWhenActive="page" (click)='toggleCheckbox()'>DJ Booking</a></li>
              <li><a class="menu-item" routerLink="/photography" ariaCurrentWhenActive="page" (click)='toggleCheckbox()'>Photography</a></li>
              <li><a class="menu-item" routerLink="/labs" ariaCurrentWhenActive="page" (click)='toggleCheckbox()'>Labs</a></li>
            </ul>
            <div class="click-container" (click)="toggleCheckbox()"></div>
          }
</div>

<router-outlet></router-outlet>

<a
  class="version-footer"
  routerLink="/version-history"
  ariaCurrentWhenActive="page"
>
  {{ version }}
</a>
