<ul id="social-link-list">
  <li class="social-list-items">
    <a
      href="https://patreon.com/starcallerbsub?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink"
      class="social-links"
      target="_blank"
      >Patreon</a
    >
  </li>
  <li class="social-list-items">
    <a href="#" class="social-links" target="_blank">Bandcamp</a>
  </li>
  <!-- <li class="social-list-items">
    <a href="#" class="social-links" target="_blank">Youtube</a>
  </li>
  <li class="social-list-items">
    <a href="#" class="social-links" target="_blank">Tiktok</a>
  </li>
  <li class="social-list-items">
    <a href="#" class="social-links" target="_blank">Soundcloud</a>
  </li> -->
</ul>