@font-face {
    font-family: Didact Gothic;
    src: url(./assets/DidactGothic-Regular.ttf);
}

body {
    margin: 0;
    overflow: hidden;
}

#disabled-link {
    color: gray;
    cursor: none;
    pointer-events: none;
    text-decoration: line-through;
}
