<div class="home-container">
  <img
    id="starcaller-title"
    src="\assets\starcaller_title.png"
    alt="Starcaller BSUB title"
  />

  <div class="article-1">
    <h2 class="header-1">New music out now!</h2>
    <iframe
      id="bc-player"
      src="https://bandcamp.com/EmbeddedPlayer/track=4194268129/size=large/bgcol=181a1b/linkcol=4c1da3/tracklist=false/transparent=true/"
      seamless
    >
      <a href="https://starcallerbsub.bandcamp.com/track/velvet"
        >Velvet by Starcaller BSUB</a
      >
    </iframe>
  </div>
</div>

<div id="social-link-list">
  <div class="social-list-items">
    <a
      href="https://patreon.com/starcallerbsub?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink"
      class="social-links"
      target="_blank"
      >Patreon!</a
    >
  </div>
  <div class="social-list-items">
    <a
      href="https://starcallerbsub.bandcamp.com/track/velvet"
      class="social-links"
      target="_blank"
      >Bandcamp!</a
    >
  </div>
  <!-- <div class="social-list-items">
    <div class="social-list-items">
      <a href="#" class="social-links" target="_blank">Soundcloud</a>
    </div>
    <a href="#" class="social-links" target="_blank">Tiktok</a>
  </div>
  <div class="social-list-items">
    <a href="#" class="social-links" target="_blank">Youtube</a>
  </div> -->
  <div class="social-list-items">
    <a
      href="https://www.reddit.com/user/starcallerbsub/"
      class="social-links"
      target="_blank"
      >reddit!</a
    >
  </div>
</div>
